* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  width: 1440px;
  height: 3330px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pinetour {
  width: 1440px;
  height: 58px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 401px;
  height: 196px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  margin-left: 36%;
  margin-top: 40px;
}

.photos {
  width: 1198px;
  height: 400px;
  display: flex;
  flex-direction: row;
  gap: 66px;
  margin-left: 120px;
}
.tours {
  width: 122px;
  height: 32px;
  font-size: 32px;
  color: #1ac74a;
}
.agency {
  width: 358px;
  height: 118px;
  font-size: 48px;
  font-weight: Montserrat;
  color: #303030;
}
.tour-agency {
  width: 358px;
  height: 160px;
  margin-left: 120px;
  margin-top: 170px;
}
.choice1 {
  width: 330px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: solid 1px black;
  margin-left: 120px;
  margin-top: 100px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.su {
  width: 240px;
  height: 35px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.choice2 {
  width: 330px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  border-radius: 8px;
  border: solid 1px black;
  background-color: white;
  color: black;
  margin-left: 120px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.ab {
  width: 240px;
  height: 35px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.choice3 {
  width: 330px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  border: solid 1px black;
  border-radius: 8px;
  background-color: white;
  color: black;
  margin-left: 120px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.ta {
  width: 240px;
  height: 35px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.choice4 {
  width: 330px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  border: solid 1px black;
  border-radius: 8px;
  background-color: white;
  color: black;
  margin-left: 120px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.kha {
  width: 240px;
  height: 35px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.choice5 {
  width: 330px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  border: solid 1px black;
  border-radius: 8px;
  background-color: white;
  color: black;
  margin-left: 120px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.khuv {
  width: 240px;
  height: 35px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.choice6 {
  width: 330px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  border: solid 1px black;
  border-radius: 8px;
  background-color: white;
  color: black;
  margin-left: 120px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.su {
  width: 240px;
  height: 35px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.photo {
  width: 600px;
  height: 960px;
  margin-top: 170px;
}
.tours-photos {
  display: flex;
  flex-direction: row;
  gap: 200px;
}
.pricing {
  width: 300px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: 40%;
}
.first {
  width: 138px;
  height: 32px;
  color: #1ac74a;
  font-size: 32px;
}
.second {
  width: 300px;
  height: 120px;
  color: #303030;
  font-size: 48px;
}
.luxury {
  width: 308px;
  height: 372px;
  border: 2px solid #18ba51;
  border-radius: 8px;
}
