body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.box {
  width: 20px;
  height: 100px;
  background-color: black;
  margin-top: 100px;
  animation: byt 1s ease infinite;
}
@keyframes byt {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.delay1 {
  animation-delay: 0.4s;
}
.delay2 {
  animation-delay: 0.6s;
}
.delay3 {
  animation-delay: 0.8s;
}
